<ion-tabs>

  <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button>
      <img src="../../assets/icon/add.svg">
    </ion-fab-button>
    <ion-label class="toolbar-button-text not-selected">Ahorrar</ion-label>
  </ion-fab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <app-toolbar-button name="Inicio" src="../../../assets/icon/home.svg"></app-toolbar-button>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <app-toolbar-button name="Historial" src="../../../assets/icon/list.svg" class="not-selected"></app-toolbar-button>
    </ion-tab-button>
    <ion-tab-button tab="home" class="center-button">
    </ion-tab-button>
    <ion-tab-button tab="home">
      <app-toolbar-button name="Mi perfil" src="../../../assets/icon/person.svg" class="not-selected"></app-toolbar-button>
    </ion-tab-button>
    <ion-tab-button tab="home" class="more-button">
      <app-toolbar-button name="Más" src="../../../assets/icon/more.svg" class="not-selected"></app-toolbar-button>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>