.portfolio-card{
    height: 237px;
    margin-top: 64px;
    position: relative;
    .percent-icon{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 45px;
        left: 50%;
        transform: translate(-50%,0);
    }
    .percent-loader{
        position: absolute;
        top: 20px;
        left: calc(50% - 60px);
    }
    .percentage-subtitle{
        position: absolute;
        width: 64px;
        height: 14px;
        left: 50%;
        transform: translate(-50%,0);
        top: 85px;

        /* Menu 1 */

        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        /* identical to box height */

        align-items: center;
        text-align: center;
        letter-spacing: -0.03em;

        /* 50% */

        color: #817699;
    }
    .percentage-title{
        
        position: absolute;
        width: 64px;
        height: 16px;
        left: calc(50% + 3px);
        transform: translate(-50%,0);
        top: 99px;

        /* Caption 1 */

        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.03em;

        /* 75% */

        color: #58506B;
    }
    .portfolio-logo{
        position: absolute;
        width: 90px;
        height: 15px;
        left: 5px;
        top: 20px;
    }
    .portfolio-badge{
        padding: 1px 8px;

        position: absolute;
        width: 36px;
        height: 15px;
        left: 62%;
        top: 20px;
        
        /* Success */
        
        background: #41CF69;
        border-radius: 6px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        /* identical to box height */

        text-align: right;
        letter-spacing: -0.03em;

        /* White */

        color: #FFFFFF;
    }
    .title{
        position: absolute;
        width: 147px;
        height: 16px;
        left: 5px;
        top: 39px;

        /* Caption 1 */

        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.03em;

        /* 75% */

        color: #58506B;
    }
    .amount{
        position: absolute;
        width: 147px;
        height: 16px;
        left: 5px;
        top: 60px;

        /* Caption 2 */

        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.03em;

        /* 75% */

        color: #58506B;
    }
    .subtitle{
        position: absolute;
        width: 147px;
        height: 14px;
        left: 5px;
        top: 81px;

        /* Menu 2 */

        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: -0.03em;

        /* Success */

        color: #41CF69;
    }
    .assets{
        position: absolute;
        width: 147px;
        height: 28px;
        left: 5px;
        top: 95px;

        /* Menu 1 */

        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: -0.03em;

        /* 75% */

        color: #58506B;
    }
    ion-button{
        --background: white
    }
    .back-button{
        position: absolute;
        left: -10px;
        top: 131px;
    }
    .forward-button{
        position: absolute;
        left: 60%;
        top: 131px;
    }
    .portfolio-description{
        position: absolute;
        width: 90%;
        height: 28px;
        left: calc(50% + 5px);
        transform: translate(-50%,0);
        top: 181px;

        /* Menu 1 */

        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        display: flex;
        align-items: center;
        letter-spacing: -0.03em;

        /* 75% */

        color: #58506B;
    }
}